p {color:gray;}
img {width:40px;}
span {font-size:12pt; font-weight:700;}
fieldset {border:1px dotted; border-radius:15px; 
    width:625px; margin:auto; background-color:white;}
.sm {font-size:10pt;}
.t {text-align:center;}
button {color:white; background-color:deepskyblue; 
    border-radius:10px; border:0px; width:150px; height:50px;
    font-size:15pt; font-weight:700; margin:15px;
}
#b {text-align:center;}
body {background-color:rgb(233, 233, 233);}