* {
    margin: 0;
    padding: 0;
}
body {
    height:1000px;
    background: linear-gradient(to top right, rgb(32, 32, 32), rgb(86, 72, 63));
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(52, 49, 47), rgb(65, 56, 51), rgb(86, 72, 63)); */
}
.nav_list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    box-shadow: 1px 1px 3px black;
}
.nav_list-item, .logo {
    margin-top: 15px;
    margin-bottom: 10px;
}
.nav_list-item {
    width: 70px;
    height: 20px;
    /* border: 1px white solid; */
    text-align: center;
}
.nav_list-item:hover {
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.search {margin-top: 10px;}
.search input {
    border-radius: 15px;
    height: 25px;
    width: 200px;
}
.search button {
    width: 50px;
    height: 30px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
}

section {
    display: grid;
    /* background: linear-gradient(to top right, rgb(16, 16, 16), rgb(47, 44, 42), rgb(64, 54, 49)); */
    padding:15px;
}
section > * {
    border: white solid 1px; /*임시*/
    border-radius: 10px;
    overflow: hidden;
}
.section1 {
    background: linear-gradient(to top right, rgb(16, 16, 16), rgb(62, 56, 53), rgb(95, 77, 68));
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 0;
    grid-template-columns: 1fr 4fr;
    height: 300px;
    box-shadow: 2px 2px 3px black;
}
aside {
    height: 290px;
    align-self: self-end;
}
.section2 {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.section2-item {
    height: 170px;
}
.card-img {
    height: 100px;
}
.card-info {
    color: white;
    background: linear-gradient(to top, rgb(32, 32, 32), rgb(71, 61, 54));
    height: 70px;
    padding: 10px;
}
.card-info > p {
    font-size: 12px;
}